# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = Boss.settings

[deploy]
url = http://39.96.166.6:5000/
project = Boss
